* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 10px;
}
